@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Geist';
  src: url('/fonts/GeistVariableVF.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Inter", sans-serif;
  /* font-family: "Geist", sans-serif; */
  /* letter-spacing: -0.03125rem; */
}

@layer base {
  body{
    @apply bg-[#f3f5f4] dark:bg-[#111110]
  }
  h1 {
    @apply text-[#1b3817] dark:text-white scroll-m-20 text-4xl font-bold lg:text-5xl;
  }
  h2 {
    @apply text-[#1b3817] dark:text-white scroll-m-20 text-3xl font-bold first:mt-0;
  }
  h3 {
    @apply text-[#1b3817] dark:text-white scroll-m-20 text-2xl font-semibold;
  }
  h4 {
    @apply text-[#1b3817] dark:text-white scroll-m-20 text-xl font-semibold;
  }
  h5 {
    @apply text-[#1b3817] dark:text-white scroll-m-20 text-lg font-semibold;
  }
  h6 {
    @apply text-[#1b3817] dark:text-white scroll-m-20 text-sm font-semibold;
  }
  p {
    @apply text-[#1b3817] dark:text-white leading-7 [&:not(:first-child)]:mt-1;
  }
}
