<nav class="h-[7vh] w-full px-5">
  <div class="max-w-2xl mx-auto h-full flex justify-end items-center gap-5">
    <!-- Left -->
    <a href={`/`}>
      <section class="flex items-center">
        <p>home</p>
      </section>
    </a>
    <!-- Right -->
    <div>
      <a href={`/blog`}>
        <p>blog</p>
      </a>
    </div>
  </div>
</nav>
