<nav class="fixed h-[7vh] w-full bg-[#f3f5f4] dark:bg-[#111110] px-5">
  <div class="max-w-screen-md mx-auto h-full flex justify-between items-center">
    <!-- Left -->
    <a href={`/`}>
      <section class="flex items-center">
        <p>nk.</p>
      </section>
    </a>
    <!-- Right -->
    <div>
      <a href={`/blog`}>
          <p>Blog</p>
      </a>
    </div>
  </div>
</nav>
