---
import { GitHubLogoIcon, EnvelopeClosedIcon } from "@radix-ui/react-icons";
---

<div class="pt-[5vh]">
  <div
    class="w-[100px] h-[100px] bg-[#f9f9f9] rounded-3xl flex justify-center items-center"
  >
    <img src="./nk.jpg" alt="nk" class="w-full h-full" />
  </div>
  <br />
  <div>
    <h2>Nana Kwasi Asante</h2>
    <p class="text-neutral-500">Software Engineer</p>
    <br />
    <p>
      Final-year Metallurgical Engineering student at KNUST. Beyond my studies,
      I'm a Software Engineer, currently focusing on Front-End Development.
    </p>
    <br />
    <div class="flex items-center gap-5 flex-wrap dark:text-white">
      <a href="https://github.com/topboyasante" target="_blank">
        <GitHubLogoIcon width={20} height={20} />
      </a>
      <a href="mailto:asantekwasi101@gmail.com" target="_blank">
        <EnvelopeClosedIcon width={20} height={20} />
      </a>
    </div>
    <hr class="my-8 border-dashed border-[#1b3817] dark:border-[#777777]" />
  </div>
</div>
